body {
  font-family: sans-serif;
  background: #f9f9f9;
  margin: 0;
  padding: 2em;
}

.container {
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0 0 10px #ddd;
}

h1 {
  text-align: center;
  margin-bottom: 1em;
}

label {
  display: block;
  margin-top: 1.5em;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 0.7em;
  margin-top: 0.3em;
  margin-bottom: 1em;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.phone-input {
  display: flex;
  align-items: center;
}

.phone-input span {
  padding: 0.7em;
  background: #eee;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 5px 0 0 5px;
}

.phone-input input {
  flex: 1;
  border-radius: 0 5px 5px 0;
  border-left: none;
}

.button-row {
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
}

button {
  background-color: #2e86de;
  color: white;
  transition: background-color 0.3s;
  cursor: pointer;
}

button:hover {
  background-color: #1b4f72;
}

/* ОРАНЖЕВАЯ выбранная кнопка */
button.selected {
  background-color: orange !important;
  color: #fff;
}


#submitBtn {
  width: 100%;
  margin-top: 2em;
  background-color: #007bff;
}

#responseMsg {
  text-align: center;
  margin-top: 1.5em;
  font-weight: bold;
}

